---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';

const explainer = `
Transforme seus ambientes com a Interiores360°. Nossa consultoria detalhada oferece soluções práticas e econômicas para criar o espaço dos seus sonhos.
Escolha quantos ambientes deseja transformar e tenha a experiência personalizada que você merece.
`;

<Layout title="Interiores360° | Consultoria Detalhada de Interiores">
    <h1 class="mb-10">Bem-vindo à Interiores360°</h1>
    <p class="mb-10 text-lg">{explainer}</p>
    <p>
        <a href="https://www.interiores360graus.com.br" class="btn btn-lg sm:min-w-64">Saiba Mais</a>
    </p>
</Layout>
